    
    <hr>

    <div class="w-75 my-3 mx-auto">
        <p class="text-center">Dessislaw Pajakoff PHOTOGRAPHY  &copy;2019</p>

    <div class="text-center">
      <!--Facebook-->
      <button type="button" class="btn"><a href="#"><i class="fab fa-facebook-f"></i></a></button>
      <!--Twitter-->
      <button type="button" class="btn"><a href="#"><i class="fab fa-twitter"></i></a></button>
      <!--Instagram-->
      <button type="button" class="btn"><a href="https://www.instagram.com/dessislaw/"><i class="fab fa-instagram"></i></a></button>
      <!--Email-->
      <button type="button" class="btn"><a href="mailto:pajaphot@gmail.com"><i class="fas fa-envelope"></i></a></button>
    </div>
    </div>