<app-navbar></app-navbar>
<app-hero></app-hero>
<section class="main">
		<h2 class="section-header"></h2>
		<img class="about" id="test" src="assets/imgs/pajakoff.jpg" alt="">
		<div class="paragraph">
			<p class="intro" id="test"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel? Aperiam nobis delectus dolor vero. Animi soluta repellat dolor neque error esse aliquid nulla repudiandae natus ipsa voluptatem consectetur numquam, velit quidem quasi odit distinctio, corporis, provident! Magni reprehenderit, voluptatibus, quaerat, quos aspernatur nemo veniam aliquid voluptate cum illo omnis dolor itaque distinctio corporis minus dolores nobis beatae ipsum deleniti? Necessitatibus commodi doloribus doloremque optio voluptatem tempore accusamus quae deserunt totam! Totam, fugit repellat quia beatae esse quasi obcaecati, inventore? <br><br><br>
			</p>
		</div>
	</section>
<app-footer></app-footer>
